



extends ../layouts/main-layout.pug

block styles 

block content 


    h2 RESET PASSWORD
    div.card.bg-secondary(style="width:700px").mt-2
        div.card-body
            form(action="/account/restart-password" method="POST")

                // csurf token istekte almak için
                input(type="hidden",name="_csrf",value=`${csrfToken}`)
                // get isteğinden gelen token bilgisini 'restart-password' token gönderme
                input(type="hidden",name="token",value=`${token}`)

                .row.form-group.mt-2 
                    .col-sm-2 
                        label.col.col-form-label(for="password") New Password 
                    .col-sm-10 
                        input.form-control(type="text",id="wpassword",name="password")
                .row.form-group.mt-2 
                    .col-sm-2 
                        label.col.col-form-label(for="confirmpassword") Again New Password 
                    .col-sm-10 
                        input.form-control(type="text",id="confirmpassword",name="confirmpassword")

                .row.form-group-mt-5 
                    .col-sm-2 
                        input.btn.btn-primary(type="submit",value="Reset Password").btn-lg