



doctype html
html(lang="en")
  //=========================
  include ../includes/head.pug
  //=========================

  body
    //=========================
    include ../includes/navbar.pug
    //=========================
    include ../includes/altnavbar.pug

    .container(style="margin-top: 20px;")
      block content


    // BOOTSTRAP SCRIPT CDN
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.4/dist/js/bootstrap.bundle.min.js", 
    integrity="sha384-YUe2LzesAfftltw+PEaao2tjU/QATaW/rOitAq67e0CT0Zi2VVRL0oC4+gAaeBKu", crossorigin="anonymous")